body {
  margin:10px 0;
}

.img_left {
  float:left;
  width:300px;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 0px;
  
} 
.img_right {
  float:right;
  width: 200px;
  margin-left: 20px;

}
h1{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p {
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin-left:100px;
}
h2{
  display:block;
}

.divnew { 

  clear:both;
 
}
header {
  background-color: aqua;
  padding:2%;
  margin: 10px 0 0 0;
  border-bottom: 2px solid black;
}
footer{
  background-color: bisque;
  padding:2%;
  
}
footer p{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 30px;
}

.navmenu-wrapper {
  background-color: gray;
 /* border: 2px solid black; */
  margin-top: 0;
  margin-bottom: 0;
  display:flex;
  justify-content: center;
  height:40px;
   
}

.navmenu-wrapper ul {
  margin-top: 10px;
 
}
.menuitems {
  background-color:azure;
  margin-left:0px;
  padding: 10px;
  text-align: center;
  list-style-type:none;
  display:inline;
}

.menuitems a {
  text-decoration:none;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menuitems:hover{
  background-color:blanchedalmond;
}

.menu2wrapper {
  background-color:gainsboro;
 /* border: 2px solid black; */
  margin-top: 0;
  margin-bottom: 0;
  display:flex;
  justify-content: center;
  height:40px;
   
}
.menu2items {
  background-color:blue;
  width:100px;
  padding: 5px;
  margin-left:3px;
  text-align:center;
  
}

.menu2items:hover {
  background-color:lightcoral;
}
.menu2items a{
  color: whitesmoke;
  text-decoration: none;
  vertical-align: middle;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}