body {
  margin:10px 0;
}
/*
.img_left {
  float:left;
  width:300px;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 0px;
  
} 
.img_right {
  float:right;
  width: 200px;
  margin-left: 20px;
*/
}
h1{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p {
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin-left:10px;
}
h2{
  display:block;
}

.divnew { 
  clear:both;
  text-align: center;
 
}
header {
  background-color: aqua;
  padding:2%;
  margin: 10px 0 0 0;
  border-bottom: 2px solid black;
}
footer{
  background-color: bisque;
  padding:2%;
  
}
footer p{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 30px;
}

.navmenu-wrapper {
  background-color: gray;
 /* border: 2px solid black; */
  margin-top: 0;
  margin-bottom: 0;
  justify-content: center;
  height:40px;
   
}

.navmenu-wrapper ul {
  margin-top: 0px;
  display:flex;
  height:40px;
  justify-content: center;
  text-decoration:none;

}

.navmenu-wrapper ul li {
  background-color: azure;
  list-style-type: none;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top:8px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:8px;
  border:1px solid black;
  min-width:80px;
  text-align: center;
}

.navmenu-wrapper ul li a{
  text-decoration: none;
}

.navmenu-wrapper ul li:hover{
  background-color: bisque;
}

/*alternative way of doing a nav menu */
.menu2wrapper {
  background-color:gainsboro;
 /* border: 2px solid black; */
  margin-top: 0;
  margin-bottom: 0;
  display:flex;
  justify-content: center;
  height:40px;
   
}
.menu2items {
  background-color:blue;
  width:100px;
  padding: 5px;
  margin-left:3px;
  text-align:center;
  
}

.menu2items:hover {
  background-color:lightcoral;
}
.menu2items a{
  color: whitesmoke;
  text-decoration: none;
  vertical-align: middle;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flexxy {
  display: flex;
  width:100%;
  background-color: wheat;
  padding: 0px 0px 0px 0px;
  justify-content: space-between;
}

.quoteblock {
  display:inline-block;
  background-color: none;
  width:500px;
  text-align:center;
  align-self: center;
  font-style: italic;
}

.flexxy img {
  width: 200px;
}

.flexxy p{
  text-align: left;
}

.flexxy quote {
  text-align: center;
}
/* .flexxy:nth-child(1) {
  align-content: center;
} */
/* 
.flexxy:nth-child(2) {
  text-align: center;
  padding:10px 0px;
} */
 h1{
 text-align: center;
 }
